/* TODO ESTO ES UNA REGLA EN CSS
ESTO ES EL SELECTOR header{Esto es la declaración
Esto es una propiedad    background: Esto es un valor red;
}*/

/*
header{
    background: red /*!important;*//*Utilizado para que sea el
    estilo mas fuerte o pesado, no se recomienda ya que rompe
    la cascada
}
*/
/*Se aprendio sobre modelo de caja*/
body{

    font-family: 'Source Sans Pro', sans-serif;
    /*Busca Source Sans Pro, si no esta usa sans-serif y asi..*/
    margin: 0px;
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Fjalla One', sans-serif;
    /*Una fuente con mas de una palabra va entre '' */
    font-weight: normal;/*Grosor de la fuente*/
}

h1{

    font-size: 40px;
    line-height: 1.5em;/*Alto de linea, separación entre lineas*/
    letter-spacing: -0.2px;/*Separación entre letras*/
    /*text-transform: uppercase;Todas las letras en mayusculas*/
    /*text-decoration: underline;Subrayar el texto*/
    color: white;
    margin: 0;
    /*margin: 20px 20px 20px 20px;/*top right bottom left*/
}

h1 strong{

    color: #026fff;
}

h2{

    color: #026fff;
    text-transform: uppercase;/*Todas las letras en mayuscula*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

ol,ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure{

    margin: 0;
}

.hero{

    height: 300px;
    background-color: #1b2127;
    /* background-image: url('../Imagenes/portada.jpg');
    background-size: 500px 300px; 
    background-repeat: no-repeat;
    background-position-x: right; 
    Propiedad mas especifica para solo eje x, con right estara desde la derecha */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-image{

    object-fit: cover;
}

.portfolio{

    background: #fafafa;
    padding: 20px;
}

.project{

    /*border-width: 15px;
    border-color: red;
    border-style: solid;*/
    border: 1px solid gray;
    border-radius: 10px;
    /*border-top-left-radius: 30px;*/
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.project-title{

    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 0;
}

.project-course,
.project-url,
.project-date{

    margin: 10px 0;
}

.project-description{

    font-size: 20px;
}

.project strong{

    font-family: 'Fjalla One', sans-serif;
}

.project-details{

    width: 500px;
    /*margin: 0px auto;/*0px top y 
    bottom y auto lo organiza segun espacio de 
    right y left, auto es muy buena practica*/
}

.project-imageContainer{

    width: 500px;
}

.header{

    background-color: #1b2127;
    color:white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header ol{

    height: inherit;/*El atributo inherit significa 
    heredad el atributo*/
    display: flex;
}

.header ol li{

    height: inherit; 
}

.header a{

    display: flex;
    align-items: center;
    height: inherit;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.menu{

    height: inherit;
}

.flexbox{
display: flex;
/*flex-direction: column, esta propiedad direcciona el modo
de visualizacion o ordenamiento ya sea en column o row, por
defecto con flex es row, si estaba en row y lo cambie a columna
la forma de alinear elementos sera invetida, es decir
utilizo justifi-content para alinear verticalmente y de igual
manera para alig-items con alineación en horizontal*/
height: 200px;/*Lo creo para obtener un espacio vertical y probar el
alineamiento de forma vertical*/
flex-wrap: wrap;/*Propiedad que permite al acabarse el espacio
en ancho visual de la pagina el siguiente elemento caiga
o continue fuera el espacio visual, wrap para que 
caiga y por defecto nowrap*/

/*justify-content: , manera de alinear horizontalmente los elementos
ya sea center, right , left, space-between (espacio entre elemento 
sin espaciar los elementos extremos),
space-evenly (Espaciado entre elementos igual) y space-around (Espacio
igual de derecha e izquierda por cada elemento) */

align-items: flex-start;/*Ordena los elementos en vertical, por defecto
los ordena todos hacia arriba con flex-star, con flex-end los ordena
en la parte baja del alto de la caja contenedora*/

}

.box{

    width: 50px;
    height: 50px;
    border: 1px solid red;

    flex-shrink: 0;/*Propiedad para hijos con padres display flex, capacidad
    de encogimiento del elemento, propiedad de 0-1*/
}

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{

    vertical-align: middle;/*Otro tipo de alineación vertical
    que le dara alineado a la imagen y al texto a su alrededor*/
}

.event{

    margin: 10px;
    width: 480px; 
    flex-shrink: 0;/*Especifica el valor de contracción de los
    elementos de un contenedor*/
    border-radius: 10px;
    overflow: hidden;/*recortar contenido, dibujar 
    barras de desplazamiento o mostrar el contenido excedente 
    en un elemento a nivel de bloque, salian esquinas del contenedor
    que no eran visiblemente correctas*/
    background-color: #f4fbff;
}

.event-list{

    display: flex;
    flex-wrap: wrap;
}

.event-list-title{

    margin-left: 20px;
}

.event img{

    width: 480px;
    height: 200px;
    object-fit: cover;/*Adapata el contenido del contenedor
    al tamaño del contenedor, esto para evitar que la imagen
    pierda calidad y lectura*/
}

.event-details{

    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;/*En este caso servira para superponer 
    un elemento de otro*/
    padding: 20px;
    text-align: center;
}

.event-description{

    text-align: left;
}

.event-url{

    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;

}

.contact{

    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{

}

.social-link{

    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter{

    background-image: url('../Imagenes/twitter.png');
}

.social-link.facebook{

    background-image: url('../Imagenes/facebook.png');
}

.social-link.github{

    background-image: url('../Imagenes/github.png');
}

.form-email input{

    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../Imagenes/email.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px; 
}

.form-email button{

    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 5px;
}

.form-email h3{

    font-family: 'Source Sans Pro', sans-serif;
}

.container{

    width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

